body{
    background-color: rgb(207, 206, 206);
    margin: 1%;
    margin-right: 5%;
    padding: 50;
    border: 5% solid black;
    box-sizing: border-box;
}
#conteiner{
    background-color:rgb(231, 228, 228) ;
    height: 5000px;
    width: 100%;
    margin: 2% ;
    padding: 50px;
    border: 3px solid rgb(231, 228, 228);
    box-sizing: border-box;
    float: none;
    clear: both;
    border-radius: 10px;

}
.menu li{
    /* Menu do site, onde vão ficar os links para outras partes do site*/
    display:  inline-block;
    background-color:rgb(110, 212, 107);
    border: 2px solid rgb(3, 119, 9);
    color: rgb(0, 0, 0);
    width: 10%;
    height: 30px;
    text-align:center;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 120px;
    margin-right: 5px;
    list-style: none;
    text-decoration: none;
    float: none;
}
nav{
    background-color: rgb(206, 206, 206);
    height: 300px;
    width: 1100px;
    margin: 5% ;
    padding: 50px;
    border: 3px solid rgb(206, 206, 206);
    border-radius: 15px;
    box-sizing: border-box;
    float: inline-start;
    
}
section{
    background-color: rgb(206, 206, 206);
    height: 500px;
    width: 450px;
    margin: 5% ;
    padding: 50px;
    border: 3px solid rgb(206, 206, 206);
    border-radius: 15px;
    box-sizing: border-box;
    float: right;
    
}
main{
    background-color: rgb(206, 206, 206);
    height: 500px;
    width: 450px;
    margin: 5% ;
    padding: 50px;
    border: 3px solid rgb(206, 206, 206);
    border-radius: 15px;
    box-sizing: border-box;
    float: left;
    
}
footer{
    background-color: rgb(206, 206, 206);
    height: 300px;
    width: 1100px;
    margin: 5% ;
    padding: 50px;
    border: 3px solid rgb(206, 206, 206);
    border-radius: 15px;
    box-sizing: border-box;
    clear: both;
    
}